<p id="notice"><%= notice %></p>

<p>
  <strong>Previous year:</strong>
  <%= @citizen_lake.previous_year %>
</p>

<%= link_to 'Edit', edit_citizen_lake_path(@citizen_lake) %> |
<%= link_to 'Back', citizen_lakes_path %>
